@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<a asp-action="DeleteCustomer" asp-controller="Customer"><td><button class="btn btn-default btn-danger">Delete</button></td></a>